.custom-badge {
    background-color: #014c678c; /* Custom background color */
    color: #00ccff; /* Custom text color */
    margin-left: 1px;
    font-weight: lighter;
}

.custom-text-secondary{
    color: #849295; /* Custom text color */
}
